input[type=text] {
	width:3em;
}
input[type=number] {
	width:3em;
}

p {
	margin: 0.5em;
}

.hor-align {
	display: inline-block;
	vertical-align: top;
}

table.data {
	border-collapse: collapse;
	width: 240px;
}
table.data tr {
	height:32px;
	border: none;
}
table.data td{
	text-align:center;
}

table.list {
	border-collapse: collapse;
	border-style: solid;
	width: 600px;
	margin: 2px;
	text-align: left;
}
table.list th{
	border-style: outset;
	border-width: 2px;
}
table.list thead th{
	text-align:center;
}
table.list td{
	border-style: groove;
	border-width: 1px;
	padding-left: 5px;
	padding-right: 5px;
}
table.list td.side-text {
	writing-mode:  sideways-lr;
	padding-left: 1em;
}

div.block {
	margin-top: 2em;
	margin-bottom: 2em;
}